*{
  background-color: #2a324b;
}
  .login-container {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .note-logo {
    margin-top: 8%;
    width: 80%;
    height: auto;
  }
  .buttons-styles-login {
    color: #2a324b;
    font-size: x-large;
    font-weight: 600;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    border-radius: 15px;
    width: 50%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 8%
  }
  .google-logo {
    width: 2em;    
    background-color: aliceblue;
  }

/* AQUI VA LA TABLET DE MANERA HORIZONTAL*/
@media (min-width: 1024px) {
  .google-logo {
    background-color: aliceblue;
  }
  .login-container {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .note-logo {
    margin: 0%;
    width: 50%;
    height: auto;
  }
  .buttons-styles-login {
    color: #2a324b;
    font-size: x-large;
    font-weight: 600;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    border-radius: 15px;
    width: 50%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 2%
  }
}